.cardd{
    display: flex;
    width: 90vw;
    justify-content: space-around;
    border: 1px solid black;
    height: 15vh;
    color: white;
    align-items: center;
    margin: 0;
    border-radius: 20px;

}